<div>
	<h1><%= @post.title %></h1>
	<p><%= raw @post.content %></p>
</div>

<% if user_signed_in? %>
	<% if current_user.voted_for? @post %>
		<%= link_to unlike_community_post_path(@community, @post) do %>
			<i class="fas fa-thumbs-up"></i>
		<% end %>
	<% else %>
		<%= link_to like_community_post_path(@community, @post) do %>
			<i class="far fa-thumbs-up"></i>
		<% end %>
	<% end %>
<% else %>
	<div class="alert alert-danger" role="alert">
		You must be logged in to vote!
	</div>
<% end %>

<%= @post.votes_for.size %>

<table class="table">
	<thead>
	<tr>
		<th>User Name</th>
		<th>Comments</th>
		<th>Created</th>
	</tr>
	</thead>
	
	<tbody>
	<% @post.comments.each do |comment| %>
		<tr>
			<td><%= comment.user.profile.nick_name %></td>
			<td><%= comment.content %></td>
			<td><%= time_ago_in_words(comment.created_at) %></td>
		</tr>
	<% end %>
	</tbody>
</table>



	<%= form_with model: [@community, @post, @post.comments.build], local: true do |comment| %>
		<div class="input-group">
			<div class="input-group-prepend">
				<%= comment.label :comment, class: "input-group-text" %>
			</div>
			<%= comment.text_area :content, class: "form-control" %>
		</div>
	
		<div class="actions">
			<%= comment.submit 'Create Comment', class: 'btn btn-success' %>
		</div>
	<% end %>


<% if @post.user === current_user || current_user.admin? %>
	<%= link_to 'Edit', edit_community_post_path(@community, @post), class: "btn btn-primary" %>
	<%= link_to "Delete", community_post_path(@post.community, @post), class: "btn btn-primary",
	            method: :delete,
	            data: {confirm: "You sure?"} %>
<% end %>
<%= link_to 'Back', community_posts_path(@community), class: "btn btn-primary" %>