<!DOCTYPE html>
<html>
<head>
	<title>RedditWebsite</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
	
	<%= link_to root_path, class: 'navbar-brand' do %>
		<i class="fab fa-reddit"></i> reddit
	<% end %>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<%= link_to 'Communities', communities_path, class: 'nav-link' %>
			</li>
		</ul>
		
		<span class="navbar-text">
			<% if user_signed_in? %>
		<%= current_user.email %> <%= current_user.votes.count %>
				<li>
			<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
		</li>
	<% else %>
		<li>
			<%= link_to('Login', new_user_session_path) %>
		</li>
	<% end %>
		</span>
		
<!--		<div class="dropdown">-->
<!--			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
				<%# if user_signed_in? %>
					<%#  %>
				<%# else %>
					<%#= link_to 'profile', profile_path(current_user.profile), class:"dropdown-item" %>
				<%# end %>
<!--			</button>-->
<!--			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
				<%#= link_to 'profile', profile_path(current_user.profile), class:"dropdown-item" %>
<!--			</div>-->
<!--		</div>-->
	</div>
</nav>
<div class="container">
	
	<%= yield %>
	
	<% if notice || alert %>
		<% if notice %>
			<div class="alert alert-success">
				<%= notice %>
			</div>
		<% else %>
			<div class="alert alert-danger">
				<%= alert %>
			</div>
		<% end %>
	<% end %>
</div>
</body>
</html>
